<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XPWKeePassPlugin.Properties.XPWOptionsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XPWKeePassPlugin.Properties.XPWOptionsSettings>
            <setting name="PNPDeviceId" serializeAs="String">
                <value />
            </setting>
        </XPWKeePassPlugin.Properties.XPWOptionsSettings>
    </userSettings>
</configuration>